.branch-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 250px;
    /* background-color: cadetblue; */
    /* background-color: #e1cec8; */
    background-color: #aac7d8;
    color: black;
    text-align: left;

    /* perspective: 1000px; */
    cursor: pointer;

    position: relative; /* Add relative positioning */

  }

  .branch-card p {
    margin: 8px 0;
    font-size: large;
  }
  
  .branch-card div {
    /* width: 100%;
    height: 100%; */
    backface-visibility: hidden;
    transition: transform 0.6s;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    border-radius: 25px;
  }
  
  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    background-color: #aac7d8;
    /* display: flex; */
    justify-content: center;
    /* padding: 20px; */
    box-sizing: border-box;
    margin-top: -150px;
  }
  
  .branch-card.flipped .card-front {
    transform: rotateY(-180deg);
  }
  
  .branch-card.flipped .card-back {
    transform: rotateY(0deg);
  }
  
  .branch-card:hover  {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }