.branch-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 275px;
    background-color: #aac7d8;
    color: black;
    text-align: left;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .branch-card p {
    margin: 8px 0;
    font-size: large;
  }
  
  .branch-card div {
    backface-visibility: hidden;
    transition: transform 0.6s;
    border-radius: 25px;
  }
  
  .card-front {
    transform: rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-front button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #29353c;
    color: #a6d8f6;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 7px;
  }
  
  .card-front button:hover {
    transform: translateY(-2px);
    background-color: #5a7e92;
  }
  
  .card-back {
    transform: rotateY(180deg);
    background-color: #aac7d8;
    justify-content: center;
    box-sizing: border-box;
    margin-top: -150px;
  }
  
  .branch-card.flipped .card-front {
    transform: rotateY(-180deg);
  }
  
  .branch-card.flipped .card-back {
    transform: rotateY(0deg);
  }
  
  .branch-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  