.App {
  text-align: center;
  background-color: #d5d7d4;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* For branch card formatting */
.background {
  width: 100%;
  height: 100%;
}

.branch-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 25px;
  justify-content: center;
  padding-top: 30px;
}

.branch-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  max-width: 300px; 
  flex: 1 1 calc(25% - 32px); 
}

.branch-card h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.branch-card p {
  margin: 8px 0;
}